---
const clientsText =
	'RR AUTOS • OPULENT • WESTCOL • ALEMAUTOS • PODIUM BC • EXOTIC RENT A CAR • RYAN CASTRO •';
---

<div class="clients">
	<div class="marquee">
		{clientsText} {clientsText}
	</div>
</div>

